.users {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 0;

	&_item {
		width: 240px;
		margin: 10px 5px;
		text-align: left;

		&_name {
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 12px;
		}

		&_button {
			margin-right: 6px;
			min-width: 80px;
			cursor: pointer;
		}
	}
}

