.fileload {
  position: relative;

  &_input {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &_error {
    color: red;
  }

  &_success {
    color: green;
  }
}