.header {
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;

  &_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_logo {
    font-size: 28px;
    font-weight: bold;
    color: #000;
    &:hover, &:active {
      text-decoration: none;
      color: rgba(0,0,0, .65)
    }
  }

  &_nav_item {
    margin-left: 30px;
    font-weight: 500;
    color: #000;

    &.active {
      pointer-events: none;
      color: rgba(0, 0, 0, .65)
    }

    &:hover, &:active {
      text-decoration: none;
    }
  }
}